@import '~normalize.css';
@import 'footer';
@import 'header';
@import 'formula';
@import 'table';
@import 'toolbar';






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


.excel {
  position: relative;
  
}